.custom-input {
  transition: all 0.3s ease;
}

.custom-input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 210, 255, 0.4);
  border-color: var(--accent-color) !important;
  background-color: var(--sidebar-bg) !important;
  color: white !important;
}

::placeholder {
  color: var(--text-secondary) !important;
  opacity: 0.8;
}